body
{
	

   text-align: justify;
   padding: 12px;
   margin-bottom: 50px;

}

h1
{
   text-align: center;
   font-family: "Arial Black", Arial, "Times New Roman", serif;
   /*text-decoration: blink; /* Le titre sera clignotant ! (ne fonctionne pas sous Internet Explorer) */
}


p
{
   /* La police Comic Sans MS est agréable à lire pour les paragraphes je trouve */
   font-family: "Comic Sans MS", "Trebuchet MS", Georgia, serif;
}

legend
{
	font-size: 22px;

}

#menu
{
background-image:url("fond3.jpg");
	font-size: 22px; /* taille du texte du menu*/
   float: left; /* Le menu flottera à gauche */
   width: 240px; /* Très important : donner une taille au menu */
   border: 2px solid black;
    margin-bottom: 20px; /* Pour éviter que les éléments du menu ne soient trop collés */
}



#img0
{
width: 960px;

}

#img1
{
width: 400px;

}

* Le corps de la page */
/*
#corps
{
   margin-left: 250px;
   margin-bottom: 20px;
   padding: 5px;
   border: 2px black;
   color: #B3B3B3;
   
   border: 2px solid black;
}

*/

#corps
{
   margin-right:50px;
   margin-left: 280px; /* Une marge à gauche pour pousser le corps, afin qu'il ne passe plus sous le menu */
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   
   color: #B3B3B3;
   background-color: #626262; /* Une couleur de fond pour le corps */
   background-image: url("images/motif.png");
   background-repeat: repeat-x; /* Une petite image de fond qui se répètera horizontalement en haut */
   
   border: 2px solid black; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
}

/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */

#pied_de_page
{
   padding: 5px;
   clear: both;
   text-align: center;

   background-image:url("fond3.jpg");
   /*color: #B3B3B3;
   background-color: #626262;*/
   
   border: 2px solid black;
}

/*
#tab1
{
	
	position: relative; right: 10px; 
}

#tab2
{
	
	position: fixed; bottom:250px; left: 700px; 
}

#tab3
{
	
	position: relative;  right: 10px; 
}

#tab4
{
	
	position: fixed;  bottom : 50px; left: 700px; 
}




/*
ul /* Ma liste aura des puces en forme de dossiers 
{
   list-style-image: url("dossier.png");
}

/* Juste pour améliorer la présentation : 
a
{
   color: blue;
   text-decoration: none;
}
*/